<div>
    <nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-light" style="  border-bottom: 1px solid #f0f4f2;  ">
        <img id="flecha" src="./assets/flechaAtras.png">
        <div id="att"> ATT - <img src="./assets/ACC_hpd_logo3.png"> </div>
        <app-btn-logout id="log-out"> </app-btn-logout>
    </nav>
</div>

<div>
    <h4 id="tittle">Proyectos asignados</h4>
</div>
<div class="card-body btn-light" *ngFor="let project of projects" (click)="showDash()">{{project.name}}</div>

<!-- <div *ngIf="projectId">
    <app-dashboard [idProject]="projectId"></app-dashboard>
</div> -->