#contenedor{
    margin-top: 5%;

}
#barra{
    margin: 1%;
    margin-bottom: 3%
}
#barra.form-control.ng-untouched.ng-pristine.ng-valid {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px
}
