<app-btn-logout> </app-btn-logout>

<div class="container-fluid mt-5 ">
    <div class="form-group row">
        <label for="project" class="col-sm-2 col-md-1 col-form-label">Proyecto</label>
        <div class="col-sm-4">
            <select class="form-control" #project [(ngModel)]="projectId" (change)="change(project.value)">
                <option *ngFor="let project of projects" value={{project.id}}>{{project.name}}</option>
                <option value="" hidden>Seleccione un proyecto</option>
            </select>
        </div>
    </div>
    <div *ngIf="projectId">
      <app-dashboard [idProject]="projectId"></app-dashboard>
    </div>
 </div>
