      <div class="modal-body">
          <div class="d-flex justify-content-center row">
              <div class="col-12 text-center">
                  <span style="font-size: 3em; color: green;">
                      <em class="far fa-check-circle fa-align-center "></em>
                  </span>
              </div>
              <div class="col-12 text-center">
                  <p>{{data}}</p>
              </div>
              <div class="col-12 text-center">
                  <button type="button" (click)="activeModal.close()" class="btn btn-secondary">Cerrar</button>
              </div>
          </div>
      </div>
