<!--card con tareas -->
<div id="fondo" class="row">
  <div class="card" *ngFor="let project of projects">

    <div class="card-header">nombre de la tarea.</div>
    <div class="card-body btn-light">nombre de la etapa <br> nombre del responsable</div>
    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample">
      Button with data-target
    </button>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        informacion de usuario
      </div>
    </div>
  </div>