<div id="fondo" class="row">
  <div id="contentLogin" class="card body d-flex">
    <img src="./assets/accenture-logo.png" alt="Logo">
    <h6 id="log">Login</h6>
      <div class="form-group">
        <label id="user-pass" for="usuario">Ingrese correo:</label>
        <input type="text" class="form-control" [(ngModel)]="user" placeholder="username" required>
      </div>

      <div class="form-group">
        <label id="user-pass" for="password">Ingrese contraseña:</label>
        <input type="password" class="form-control" [(ngModel)]="password" placeholder="******" required>
      <div id="error">
        <p *ngIf=error class="text-danger">Usuario y/o contraseña incorrectos.</p>
      </div>
      <button (click)="login()" type="button" class="btn btn-secondary btn-sm ml-auto">Ingresar</button>
      <p id="olvidar">¿olvidaste la contraseña?</p>
  </div>
</div>