.table-primary:hover,
.table-primary {
    background-color: #b8daff;    
    border: 1px solid #a9c6e6;
}
.legend-primary {
    color: #b8daff;
}
.table-default:hover,
.table-default {    
    background-color: #FFFFFF;  
    border: 1px solid #bebfc0;
}
.legend-default {
    color: #FFFFFF;
}
.table-secondary:hover,
.table-secondary {
    background-color: #D6D8DB;
    border: 1px solid rgb(182, 183, 185);
}
.legend-secondary {
    color: #D6D8DB;
}
.table-danger:hover,
.table-danger {
    background-color: #F5C6CB;
    border: 1px solid rgb(216, 175, 179);

}
.legend-danger {
    color: #F5C6CB;
}
.table-warning:hover,
.table-warning {
    background-color: #FFEEBA;    
    border: 1px solid rgb(224, 207, 154);
}
.legend-warning {
    color: #FFEEBA;
}
.table-success:hover,
.table-success {
    background-color: #C3E6CB;
    border: 1px solid rgb(174, 204, 181);
}
.legend-success {
    color: #C3E6CB;
}
tbody {
    background-color: whitesmoke;
}
.circle {
    max-width: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    -moz-border-radius: 30px; 
    -webkit-border-radius: 30px; 
    border-radius: 50%;
}
.border-black {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0000006e;
}

.border-box {
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-size {
    max-width: 28em;
    min-width: 18em;
}


.cdk-viewport {
    height: 400px;
    width: 100%;
    border: 1px solid black;

}

cdk-virtual-scroll-viewport {
    background-color: black;

    .cdk-virtual-scroll-content-wrapper {

        width: 100% !important;
    }
}
