//cuadrosInfo
.container-fluid {  
    width: 100%;  
    padding-right: 0px;  
    padding-left: 0px;  
    margin-right: 0px;  
    margin-left: 0px;  
}
body {
    width: 100%;
    padding: 20px;
}
/**
* Estilos cards 
*/
.row{
    margin-top: 20%; 
    display:flex;
    justify-content: center;
}
#tareaEjecucion{
    margin-top: 20%;
    margin-bottom: 5%;
}
.card-text {
    margin: 5px;

}
#total {
    background:  #A100FF;
    border-radius: 4px;
    color: white;
    min-width: 100px;
    max-width: 120px;
    height: 100px;
    margin:10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#atrasadas{
    background: #FB3E4C;
    border-radius: 4px;
    color: white;
    min-width: 100px;
    max-width: 120px;
    height: 100px;
    margin:10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#tareasEnCurso{
    background: #32C79A;
    border-radius: 4px;
    color: white;
    min-width: 100px;
    max-width: 120px;
    height: 100px;
    margin:10px;
    padding-top: 5px;
    padding-bottom: 5px;   
}
#proxTarea{ 
    background: #BBBBBB;
    border-radius: 4px;
    color: white;
    min-width: 210px;
    max-width: 260px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#finalizadas{
    background: #3691BD;
    border-radius: 4px;
    color: white;
    min-width: 100px;
    max-width: 120px;
    height: 100px;
    margin:10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
h3 {
    margin-left:auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
    padding: 0px;
}
p {
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
}

//barra superior
#btnVolver {
    background: transparent;
    border: transparent;
    padding: 0px;
}
nav.navbar.bg-light {
    background-image:linear-gradient(to right, #a100ff, #460073); 
}
img {
    width: 60px;
    margin-bottom: 5px;
    margin-left:5px;
    margin-top: 0px;
}     

.btn.btn-secondary {
    margin-top: 5px;
    margin-left: 5px;
    background: #00BAFF;
    border-radius: 4px;
    border:1px solid rgb(1, 171, 233);
    width: 50px;
    height: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right:3px;
    font-size: 10px;
}
.btn.btn-secondary:hover {
    background: rgb(43, 198, 255);
}
#flecha{
    width: 20px;
    height: 20px;
}








