#contenedor {
    border: 2px solid grey;
    border-radius: 2px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 3%; 
}
#btn-uno {
    padding-left: 35%;
    padding-right: 35%;
    border: 1px;
    background-color: rgb(116, 128, 134);
    margin-top: 3%;
    margin-left: 12%;
}
#btn-dos {
    background-color: rgba(116, 97, 97, 0.897);
    padding-left: 36%;
    padding-right: 36%;
    margin-top: 1%;
    margin-left: 12%;
 
    
   
}
#btn-tres{
    background-color: rgb(133, 126, 98);
    padding-left: 37%;
    padding-right: 37%;
    margin-top: 1%;
    margin-left: 12%;

}
#btn-cuatro {
    background-color: rgb(82, 99, 86);
    padding-left: 22%;
    padding-right: 22%;
    margin-top: 1%;
    margin-left: 12%;
    margin-bottom: 3%;   
}
#tabla2 {
    margin-top: 3%
}

//color cuadraditos

.legend-botonuno {
    color: rgb(116, 128, 134);
}

.legend-botondos {
    color: rgba(116, 97, 97, 0.897);
}

.legend-botontres {
    color: rgb(133, 126, 98);
}

.legend-botoncuatro {
    color: rgb(82, 99, 86);
}

//colores tabla
#cabecera {
    background-color:  rgb(231, 234, 235);
}
#cuerpo {
    background-color: rgba(240, 240, 240, 0.897);
}



