
<!--barra de progreso realizadas-->
<div class="container-fluid">
  <div class="card" id="barras">
    <div class="card-header">Avance en ejecución</div>
      <div class="card-body">
          <div class="container">
              <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">{{perReal}}</div>      
              </div>
              <div id="parrafo">Avance real: {{showReal()}}</div>
              <br>
  
              <!-- barra de progreso planificadas -->
              <div class="progress"> 
                  <div class="w3-container" aria-valuemin="0" aria-valuemax="100">{{perPlanif}}</div>      
              </div>
              <div id="parrafo">Avance planificado: {{showPlanif()}} </div>
          </div>
	 
          
          

        

      </div>
    </div>
  </div>

  <br>


<!--cuadros de informacion-->
<div class="card-deck">
  <div id="totalTareas" class="card btn-light" >
    <div class="card-header">Total de tareas</div>
    <div class="card-body">
      <h2>{{tasks.length}}</h2>
      <button (click)="mostrarTabla()" id="btn" type="button" class="btn btn-light"> más detalles... </button>
    </div>
  </div>
  <div id="atrasadas" class="card">
    <div class="card-header">Tareas atrasadas</div>
    <div class="card-body">
      <h2>{{allTaskDelayed.length}}</h2>
      <button (click)="mostrarTabla()" id="btn" type="button" class="btn btn-light"> más detalles... </button>
    </div>
  </div>
  <div id="finalizadas" class="card">
    <div class="card-header">En curso</div>
    <div class="card-body">
      <h2>{{ tasksInProgress.length}}</h2>
      <button (click)="mostrarTabla()" id="btn" type="button"  class="btn btn-light"> más detalles </button>
    </div>
  </div>
  <div id="enCurso" class="card">
    <div class="card-header">Finalizadas</div>
    <div class="card-body">
      <h2>{{tasksFinished.length}}</h2>
      <button (click)="mostrarTabla()" id="btn" type="button" class="btn btn-light"> más detalles </button>
      
    </div>
  </div>
</div>


<!--tabla con datos -->

<h5 *ngIf="tabla === true" class="text-center align-bottom">{{tituloTabla}}</h5>
<div class="table-responsive" id="tabla2" *ngIf="tabla===true">

  <table class="table table-hover table-bordered table-sm ">

    <thead>
      <tr id="cabecera">
        <th class="text-center align-middle" scope="col">ID</th>
        <th class="text-center align-middle" scope="col">Tarea</th>
        <th class="text-center align-middle" scope="col">Hora Fin Planificada</th>
        <th class="text-center align-middle" scope="col">Responsable</th>
      </tr>
    </thead>
    <tbody>
      <tr id="cuerpo" *ngFor="let task of contenido ">
        <th class="text-center align-middle" scope="row">{{task.id}}</th>
        <td class="text-nowrap align-middle">
          <div *ngIf="task.description.length > 60" placement="top" ngbTooltip={{task.description}}>
            {{task.description  | truncate:[60, '...'] }}
          </div>
          <div *ngIf="!(task.description.length >= 60)">
            {{task.description}}
          </div>
        </td>
        <td class="text-center align-middle">{{task.endDatePlanning    | date:'short'}}</td>
        <td class="text-center align-middle">{{task.resposible}}</td>
      </tr>
      <tr *ngIf="tasks?.length == 0">
        <td colspan="10">
          <div class="text-center align-middle">No se encontraron tareas para el proyecto seleccionado</div>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="atras()" class="btn btn-light">Atrás</button>
  <button type="button" class="btn btn-link">Ver más...</button> <!--debe aparecer solo si la tabla tiene mas de 5 tareas-->
</div>
