//cuadrosInfo
.container-fluid {  
    width: 100%;  
    padding-right: 0px;  
    padding-left: 0px;  
    margin-right: 0px;  
    margin-left: 0px;  
}
.main {
    column-count:4;
    column-gap: 3em;
    column-width: 140px;
    margin-top: 30%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
/**
* Estilos cards 
*/

#tareaEjecucion{
    margin-top: 50%;
    margin-bottom: 5%;
}
.card {
    display: inline-block;    
    overflow: hidden;
    margin: 5px 5px;  
    border: 1px solid white;
    color: white;

}
div.card-body {
    width: 120px;
    height: 80px;
    padding: 15px 20px;
    border-radius: 5px;
}
.total {
    background:  #A100FF;
}
.atrasada {
    background: #FB3E4C;
}
.enCurso{
    background: #32C79A;
}
.finalizada {
    background: #3691BD;
}
div.card-body.proxTarea {
    background: #BBBBBB;
    width: 250px;
    height: 80px;
    padding: 15px 20px;
    border-radius: 5px;
}
h3 {
    margin-left:auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
    padding: 0px;
}
p {
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    font-size: 10px;
    margin-bottom: 0px;
    padding: 0px 0px;
}
